<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--Import jQuery-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

        <title>About</title>
    </head>
    <body>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{ url_for('static', filename='dataset/cork.pdf') }}">With Areas of Interest</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('static', filename='dataset/cork-no-aoi.pdf') }}">No Areas of Interest</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('cork_csv') }}">Coordinates</a></li>
        </ul>
        <nav class="nav blue lighten-1">
            <div class="nav-wrapper">
                <a href="{{ url_for('back') }}" class="brand-logo left">Spatial Bloom Filter</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="{{ url_for('about') }}">About</a>
                    </li>
                    <li>
                        <a href="{{ url_for('values') }}">Test Data</a>
                    </li>
                    <li>
                        <a class="dropdown-button" href="#" data-activates="dropdown1">Cork Maps
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('edit_details') }}">
                            Edit Details<i class="material-icons right">edit</i>
                        </a>
                    </li>
                </ul>
                <ul class="side-nav collapsible collapsible-accordion" id="mobile-demo">
                    <li><a href="{{ url_for('about') }}">About<i class="material-icons right">info</i></a></li>
                    <li>
                        <a href="{{ url_for('values') }}">
                            Test Data<i class="material-icons right">assignment</i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="collapsible-header" style="padding: 0 32px;">
                            Maps<i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="{{ url_for('static', filename='dataset/cork.pdf') }}">
                                    With Areas of Interest<i class="material-icons">map</i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('static', filename='dataset/cork-no-aoi.pdf') }}">
                                    No Areas of Interest<i class="material-icons">map</i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('cork_csv') }}">
                                    Coordinates<i class="material-icons">map</i>
                                </a>
                            </li>
                        </ul>
                        </div>
                    </li>
                    <li>
                        <a href="{{ url_for('edit_details') }}">
                            Edit Details<i class="material-icons right">edit</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">

            <div class="row">
                <div class="col s12 m12 l12">
                    <ul class="collection with-header">
                        <li class="collection-header"><h5>What is a Spatial Bloom Filter?</h5></li>
                        <li class="collection-item">
                            Location privacy is a growing issue in cybersecurity.
                        </li>
                        <li class="collection-item">
                            The spatial bloom filter is one of the many privacy-preserving protocols
                            aimed at mitigating this threat to personal privacy.
                        </li>
                        <li class="collection-item">
                            The SBF is a data structure based on bloom filters, designed
                            to store location information.
                        </li>
                        <li class="collection-item">
                            The protocol keeps the user's exact location hidden but allows the provider
                            of the service to learn when the user is close to specific points of
                            interest or inside predefined areas.
                        </li>
                        <li class="collection-item">
                            At the same time, the points and areas of interest remain oblivious
                            to the user.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12 l12">
                    <ul class="collection with-header">
                        <li class="collection-header"><h5>The Cork dataset</h5></li>
                        <li class="collection-item">
                            There are four Areas of Interest marked on the map of Cork and each area
                            has a set of coordinates associated with it.
                        </li>
                        <li class="collection-item">
                            A geospatial grid is placed on the map which allows the coordinates
                            that are extracted to be accurate to 0.0001 of a degree.
                        </li>
                        <li class="collection-item">
                            An example of an Area of Interest is shown <a href="#aoi">below</a>.
                        </li>
                        <li class="collection-item">
                            When the dataset is imported, it is the Area of Interest number (1, 2, 3 or 4) that is
                            placed in the spacial bloom filter.
                        </li>
                        <li class="collection-item">
                            Each coordinate is placed in the SBF three times as there is three
                            hash functions run.
                        </li>
                        <li class="collection-item">
                            As there is 1,374 values placed into the SBF, the Area of Interest
                            number can be overwritten by the new values that are being inserted.
                        </li>
                        <li class="collection-item">
                            Check the
                            <a href="{{ url_for('values') }}">Test Data</a>
                            tab for coordinates that are now incorrect as their Area of Interest value has
                            been overwritten after importing the cork.csv.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row" id="aoi">
                <div class="col s12 m12 l12">
                    <h5 class="header">Area of Interest</h5>
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="{{ url_for('static', filename='images/AoI1.png') }}">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <ul class="collection">
                                    <li class="collection-item">
                                        Example of the geospacial grid with Area of Interest 1 highlighted.
                                    </li>
                                    <li class="collection-item">
                                        The coordinates for are taken from the bottom-left of each cell within the area.
                                    </li>
                                    <li class="collection-item">
                                        Example of a coordinate: 51.8954#-8.4772.
                                    </li>
                                    <li class="collection-item">
                                        There is 458 coordinates in total between the four Areas of Interest.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 m12 l12">
                    <ul class="collection with-header">
                        <li class="collection-header"><h5>Check Results</h5></li>
                        <li class="collection-item">
                            When querying the spacial bloom filter, the result is which Area of Interest it belongs to.
                        </li>
                        <li class="collection-item">
                            There will be three Area of Interest results as the coordinate was placed in the SBF three
                            times as there is three hash functions in the hash family.
                        </li>
                        <li class="collection-item">
                            The lowest Area of Interest value is the answer as cells can be overwritten.
                        </li>
                        <li class="collection-item">
                            If any of the three results are zero, then the value queried is not in the SBF.
                        </li>
                        <li class="collection-item">
                            As cells can be overwritten, it is possible that the wrong Area of Interest is returned.
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </body>
</html>