<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--Import jQuery-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

        <title>Area Stats</title>
    </head>
    <body>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{ url_for('static', filename='dataset/cork.pdf') }}">With Areas of Interest</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('static', filename='dataset/cork-no-aoi.pdf') }}">No Areas of Interest</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('cork_csv') }}">Coordinates</a></li>
        </ul>
        <nav class="nav blue lighten-1">
            <div class="nav-wrapper">
                <a href="{{ url_for('back') }}" class="brand-logo left">Spatial Bloom Filter</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="{{ url_for('about') }}">About</a>
                    </li>
                    <li>
                        <a href="{{ url_for('values') }}">Test Data</a>
                    </li>
                    <li>
                        <a class="dropdown-button" href="#" data-activates="dropdown1">Cork Maps
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li class="active">
                        <a href="{{ url_for('edit_details') }}">
                            Edit Details<i class="material-icons right">edit</i>
                        </a>
                    </li>
                </ul>
                <ul class="side-nav collapsible collapsible-accordion" id="mobile-demo">
                    <li><a href="{{ url_for('about') }}">About<i class="material-icons right">info</i></a></li>
                    <li>
                        <a href="{{ url_for('values') }}">
                            Test Data<i class="material-icons right">assignment</i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="collapsible-header" style="padding: 0 32px;">
                            Maps<i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="{{ url_for('static', filename='dataset/cork.pdf') }}">
                                    With Areas of Interest<i class="material-icons">map</i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('static', filename='dataset/cork-no-aoi.pdf') }}">
                                    No Areas of Interest<i class="material-icons">map</i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('cork_csv') }}">
                                    Coordinates<i class="material-icons">map</i>
                                </a>
                            </li>
                        </ul>
                        </div>
                    </li>
                    <li>
                        <a href="{{ url_for('edit_details') }}">
                            Edit Details<i class="material-icons right">edit</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">

            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title centered">Area Information</span>
                                <div class="divider"></div>
                            </div>
                            <div class="card-tabs">
                                <ul class="tabs tabs-fixed-width">
                                    <li class="tab"><a class="active" href="#stat1">Properties</a></li>
                                    <li class="tab"><a href="#stat2">Emersion, FPP and ISEP</a></li>
                                </ul>
                            </div>
                            <div class="card-content">
                                <div id="stat1">
                                    <table class="centered responsive-table striped">
                                        <thead>
                                            <tr>
                                                <th>Area</th>
                                                <th>Members</th>
                                                <th class="tooltip">
                                                    Expected Cells
                                                    <span class="tooltiptext">
                                                        The expected value depends only on the filter properties
                                                        (size, number of hash functions, number of sets and
                                                        elements, etc.) and not an actual instance of the filter.
                                                    </span>
                                                </th>
                                                <th>Used Cells</th>
                                                <th class="tooltip">
                                                    Potential Cells
                                                    <span class="tooltiptext">
                                                        (Members * number of Hash Functions) - Self Collisions
                                                    </span>
                                                </th>
                                                <th>Self Collision</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{ stats1 }}
                                        </tbody>
                                    </table>
                                </div>
                                <div id="stat2">
                                    <table class="centered responsive-table striped">
                                        <thead>
                                            <tr>
                                                <th>Area</th>
                                                <th class="tooltip">
                                                    Expected Emersion
                                                    <span class="tooltiptext">
                                                        It is the ratio between the cells actually set to the area
                                                        label in the filter and the cells that would be theoretical
                                                        set to the area label if no collision from higher areas happen.
                                                    </span>
                                                </th>
                                                <th class="tooltip">
                                                    Emersion
                                                    <span class="tooltiptext">
                                                        The emersion indicates how much the values in the cells that
                                                        maps elements of an area store the area label value (as opposed
                                                        to a higher value).
                                                    </span>
                                                </th>
                                                <th class="tooltip">
                                                    a-priori FPP
                                                    <span class="tooltiptext">
                                                        The a-priori false positives probability for each area.
                                                    </span>
                                                </th>
                                                <th class="tooltip">
                                                    FPP
                                                    <span class="tooltiptext">
                                                        The a-posteriori false positives probability for each area.
                                                    </span>
                                                </th>
                                                <th class="tooltip">
                                                    a-priori ISEP
                                                    <span class="tooltiptext">
                                                        The a-priori inter-set error probability for each area.
                                                    </span>
                                                </th>
                                                <th>Expected ISEP</th>
                                                <th class="tooltip">
                                                    ISEP
                                                    <span class="tooltiptext">
                                                        The a-priori inter-set error probability for each area.
                                                    </span>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{ stats2 }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>