<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--Import jQuery-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

        <title>FYP</title>
    </head>
    <body>
        <div class="navbar-fixed">
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="{{ url_for('static', filename='dataset/cork.pdf') }}">With Areas of Interest</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('static', filename='dataset/cork-no-aoi.pdf') }}">No Areas of Interest</a></li>
                <li class="divider"></li>
                <li><a href="{{ url_for('static', filename='dataset/cork.csv') }}">Coordinates</a></li>
            </ul>
            <nav class="blue lighten-1">
                <div class="nav-wrapper">
                    <div class="container">
                        <a href="{{ url_for('index') }}" class="brand-logo">Spacial Bloom Filter</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
                            <li><a href="#">About</a></li>
                            <!-- Dropdown Trigger -->
                            <li>
                                <a class="dropdown-button" href="#" data-activates="dropdown1">Cork Maps
                                    <i class="material-icons right">arrow_drop_down</i>
                                </a>
                            </li>
                            <li class="active">
                                <a href="#">
                                    Edit Details<i class="material-icons right">edit</i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <div class="container">

            <div class="row">

                <div class="col s12 m6">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title">The Cork Data</span>
                                <div class="divider"></div>
                                <div class="section">
                                    <p>
                                        The map of Cork has four marked Area's of Interest.<br>
                                        The coordinates of these areas are contained in a csv file.<br>
                                        Import these Area's of Interest and place them in the Spacial Bloom Filter.
                                    </p>
                                </div>
                                <div class="card-action">
                                    <div class="col s12 m6">
                                        <form action="{{ url_for('import_sbf') }}" method="post">
                                            <button class="btn waves-effect waves-light blue lighten-1" type="submit">
                                                Import<i class="material-icons right">file_upload</i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="col s12 m6">
                                        <form action="{{ url_for('clear_sbf') }}" method="post">
                                            <button class="btn waves-effect waves-light blue lighten-1" type="submit">
                                                Clear<i class="material-icons right">clear</i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title centered">SBF Stats</span>
                                <div class="divider"></div>
                                <div class="section">
                                    <ul class="collection">
                                        {{ sbf_stats }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col s12 m6">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title centered">Check SBF Values</span>
                                <div class="divider"></div>
                                <form action="{{ url_for('check_sbf') }}" method="post" class="col s12">
                                    <div class="row">
                                        <div class="input-field inline col s12">
                                            <i class="material-icons prefix">search</i>
                                            <input type="text" class="validate" name="sbf_check" id="sbf_check">
                                            <label for="sbf_check">Value</label>
                                        </div>
                                    </div>
                                    <div class="divider"></div>
                                    <div class="card-action">
                                        <button class="btn waves-effect waves-light blue lighten-1" type="submit">
                                            Check<i class="material-icons right">check</i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s12 m6">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <span class="card-title centered">Results</span>
                                <div class="divider"></div>

                                {{ check_result }}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col s12 m12">
                <div class="sbf">
                    <table id="myTable" class="centered">
                        <tbody>
                            {{ sbf_table }}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </body>
</html>