<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <!--Import jQuery-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"  media="screen,projection"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

        <title>Test Values</title>
    </head>
    <body>
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="{{ url_for('static', filename='dataset/cork.pdf') }}">With Areas of Interest</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('static', filename='dataset/cork-no-aoi.pdf') }}">No Areas of Interest</a></li>
            <li class="divider"></li>
            <li><a href="{{ url_for('cork_csv') }}">Coordinates</a></li>
        </ul>
        <nav class="nav blue lighten-1">
            <div class="nav-wrapper">
                <a href="{{ url_for('back') }}" class="brand-logo left">Spatial Bloom Filter</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <a href="{{ url_for('about') }}">About</a>
                    </li>
                    <li>
                        <a href="{{ url_for('values') }}">Test Data</a>
                    </li>
                    <li>
                        <a class="dropdown-button" href="#" data-activates="dropdown1">Cork Maps
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                    <li class="active">
                        <a href="#">
                            Edit Details<i class="material-icons right">edit</i>
                        </a>
                    </li>
                </ul>
                <ul class="side-nav collapsible collapsible-accordion" id="mobile-demo">
                    <li><a href="{{ url_for('about') }}">About<i class="material-icons right">info</i></a></li>
                    <li>
                        <a href="{{ url_for('values') }}">
                            Test Data<i class="material-icons right">assignment</i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="collapsible-header" style="padding: 0 32px;">
                            Maps<i class="material-icons right">arrow_drop_down</i>
                        </a>
                        <div class="collapsible-body">
                        <ul>
                            <li>
                                <a href="{{ url_for('static', filename='dataset/cork.pdf') }}">
                                    With Areas of Interest<i class="material-icons">map</i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('static', filename='dataset/cork-no-aoi.pdf') }}">
                                    No Areas of Interest<i class="material-icons">map</i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ url_for('cork_csv') }}">
                                    Coordinates<i class="material-icons">map</i>
                                </a>
                            </li>
                        </ul>
                        </div>
                    </li>
                    <li><a href="#">Edit Details<i class="material-icons right">edit</i></a></li>
                </ul>
            </div>
        </nav>

        <div class="container">

            <div class="row">
                <div class="col s12 m12 l12">
                    <h5>Coordinates that give incorrect Area of Interest value</h5>
                    <table class="centered striped" id="incorrect">
                        <thead>
                            <tr>
                                <th>Coordinate</th>
                                <th>Actual Area</th>
                                <th>Lowest Area in SBF</th>
                                <th>Areas in SBF</th>
                            </tr>
                        </thead>
                        <tbody>{{ incorrect_values }}</tbody>
                    </table>
                </div>
            </div>


        </div>

    </body>
</html>